# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Flask
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db